<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container">
    <h1>動画で学ぼう。</h1>
    <p>1日一分動画を見れば、1年で6時間動画を見たことになります</p>
    <p>Showinは、学習と娯楽に費やした動画時間を入力し、</p>
    <p>1週間の、1ヶ月の、1年の動画時間を計測します。</p>
    <p></p>
    <%= link_to "はじめる", signup_path, class: "btn btn-info btn-lg-start" %>
  </div>
</div>

<div class="container">
  <div class="container discription-container">
    <div class="row">
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'movie.png', class: 'discription-img' %>
        </div>
        <h2>動画時間を入力</h2>
        <p>動画の視聴時間を入力することで動画に使った時間を可視化することが可能です。</p>
      </div>
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'art.png', class: 'discription-img' %>
        </div>
        <h2>学習時間も娯楽時間も</h2>
        <p>動画は単に暇つぶしのためだけのものではありません。学習など有効的に活用し記録することで有意義と感じる心理的効果が期待できます。</p>
      </div>
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'memo.png', class: 'discription-img' %>
        </div>
        <h2>日記にも使える</h2>
        <p>ログ機能によりどんな動画を観たのかどんな感想を持ったのかを記録することも可能です。動画との人生を豊かにする日記となるでしょう。</p>
      </div>
    </div>
  </div>
</div>