<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container">
    <h1>動画を愛そう。</h1>
    <p>動画をみる時、人生は幸せ？それとも罪悪感？</p>
    <p>Lantern Lanternは、学習と娯楽に費やした動画時間を入力し、</p>
    <p>1日の、1ヶ月の、1年の動画時間を計測します。</p>
    <p>Lantern Lanternは、動画の時間を貯金します。</p>
    <%= link_to "はじめる", signup_path, class: "btn btn-info btn-lg" %>
  </div>
</div>

<div class="container">
  <div class="container discription-container">
    <div class="row">
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'movie.png', class: 'discription-img' %>
        </div>
        <h2>動画時間を入力</h2>
        <p>動画の視聴時間を入力することで動画に使った時間を可視化することが可能です。</p>
      </div>
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'art.png', class: 'discription-img' %>
        </div>
        <h2>学習時間も娯楽時間も</h2>
        <p>動画は単に暇つぶしのためだけのものではありません。学習など有効的に活用し記録することで有意義と感じる心理的効果が期待できます。</p>
      </div>
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'memo.png', class: 'discription-img' %>
        </div>
        <h2>日記にも使える</h2>
        <p>ログ機能によりどんな動画を観たのかどんな感想を持ったのかを記録することも可能です。動画との人生を豊かにする日記となるでしょう。</p>
      </div>
    </div>
  </div>
</div>