// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


$Showin-light-white: #f5f5f6;
$Showin-dark-white: #cdced1;
$Showin-black: #050c17;
$Showin-red: #b1046b;
$Showin-violet: #640c41;
$Showin-yellow: #bdb319;
$Showin-blue: #0071bc;
$Showin-dark-blue: #0c2e64;
$Showin-green: #008000;

body {
  background-color: $Showin-black;
}

// header

.navbar-expand {
  width: 100%; 
  margin-bottom: 0;
  background-color: $Showin-black;
　opacity: 0.9;

  ul li a button {
    padding: 0.375rem 1.5rem;
  }
}

.logo-img:hover {
  opacity: 0.6;
}

.logo-text {
  padding-top: 2px;
  :hover {
    opacity: 0.6;
  }
}

// jumbotron

.jumbotron-extend {
  background-image:  image-url("shinkai_01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    h1,
    p {
      margin-bottom: 0.75rem;
      color: $Showin-light-white;
    }
    h1 {
      margin-bottom: 1.5rem;
    }
    p:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

.btn-lg-start{
  width: 30%;
}


// discription

.discription-container h2, .discription-container p {
  color: $Showin-light-white;
}

.discription-container {
  margin: 3rem 0;
  padding: 3rem 1rem;
  h2 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.8rem;
  }
  p {
    font-size: 1rem;
    line-height: 2.1rem;
  }
}

.discription-img-container {
  margin-bottom: 3rem;
  text-align: center;
}

.discription-img {
  width: 12rem;
  border-radius: 0.1rem;
}


// signup

.signup-container {
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding-top: 10rem !important;
}

.signup-logo-img {
  text-align: center;
}

.signup-title {
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.signup-title  {
  color: $Showin-light-white
}

.form-control {
  margin-bottom: 0;
}

.form-submit {
  width: 100%;
  margin-top: 1rem;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    padding-bottom: 0;
  }
}

.field_with_errors .form-control {
  border-color: red;
}



// max-width = 768px
@media (max-width: 768px) {
  .nav-item-extend {
    margin-top: 0.6rem;
  }
}

// button
.btn-extend {
  width: 8.5rem;
}


// header
.navbar-extend {
  margin-bottom: 0;
  background-color: $Showin-black;
  opacity: 0.9;
  ul li a button {
    padding: 0.375rem 1.5rem;
  }
}

.navbar-extend-b{
  background-color: $Showin-green;
}

.navbar-extend-c{
  border-color:     $Showin-green;
}

.logo-img:hover {
  opacity: 0.6;
}

.logo-text {
  padding-top: 2px;
  :hover {
    opacity: 0.6;
  }
}

.nav-item-extend {
  > a:not(.btn-extend) {
    // text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
  }
  > a {
    margin-left: 1rem;
    float: right;
  }
}

.nav-link {
  color: $Showin-dark-white;
}


// login

.form-go-to-signup-or-login {
  color: $Showin-light-white
}

.login-container {
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding-top: 10rem !important;
}

.form-logo-img {
  text-align: center;
}

.form-submit {
  width: 100%;
  // margin-top: 1rem; // 削除
}

.form-check-label {
  color: $Showin-dark-white;
}


//edit
.form-title-edit {
  color: $Showin-dark-white;
}

//password reset

.form-title {
  color: $Showin-dark-white;
}

.password_reset-container {
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding-top: 10rem !important;
}


// max-width = 767px
@media (max-width: 767px) {
  .nav-item-extend {
    margin-top: 0.6rem;
  }

  .log-title {
    padding: 0;
  }

  .log-list {
    border-left: 1px solid $Showin-dark-white;
  }
}

@media (min-width: 768px) {
  .log-timestamp-inline {
    visibility: hidden;
  }
}

// logs
ol {
  padding: 0;
  list-style: none;
}

.log-title {
  margin: 1.5rem 0;
  text-align: center;
}

.log-title {
  color: $Showin-light-white;
}

.log-list {
  margin-bottom: 1rem;

  .log-timestamp {
    color: gray;
  }

  .log-timestamp-block {
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 0.1rem;
    border-right: 1px solid $Showin-dark-white;
  }

  .col-log-memos {
    padding: 0 1rem 0 1rem;

    .log-time-and-edit {
      .log-time {
        font-size: 1.2rem;
        color: $Showin-yellow;
      }

      .log-timestamp-inline {
        text-align: right;    
        margin-top: 0.1rem;
        padding: 0;
      }

      .log-edit {
        text-align: right;
        margin-top: 0.1rem;

        .log-edit-image {
          width: 1rem;
        }
      }
    }

    .log-memo {
      color: $Showin-light-white;
    }

    .log-picture {
    }
  }
}

// paginate
.pagination {
  margin-top: 1.6rem;

  .page-item {
    .page-link {
      border: 1px solid $Showin-light-white;
      background-color: $Showin-light-white;
      color: $Showin-blue;
    }
  }

  .page-item.active .page-link {
    background-color: $Showin-blue;
    border-color: $Showin-blue;
    color: $Showin-light-white;
  }
}

.pagination {
  justify-content: center;
}

.show-container {
  margin-top: 5rem;
}

.show-container{
  background-color: $Showin-black;
}

.show-container {
  color: $Showin-light-white;
}

.edit-container {
  color: $Showin-light-white;
}

.micropost-edit-container{
  color: $Showin-light-white;
}

.btn-lg{
  width: 100%;
}

.btn-back {
  background-color: $Showin-black;
}

.card-body {
  background-color: $Showin-black;
}

.card-header {
  background-color: $Showin-black;
}

.edit-title {
  justify-content: center;
}

.figure-container {
  background-color: $Showin-black;
}

.figure-sum-and-button {
  background-color: $Showin-black;
}

