<header>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top navbar-expand">
    <a class="navbar-brand" href="#">
      <div class="navbar-brand-expand">
        <%= link_to image_tag('lantern_lantern_logo.png',width: 50),root_path, class: "logo-img" %>
        <%= link_to image_tag('lantern_lantern_text.png',height: 30),root_path, class: "logo-text" %>
      </div>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="#" class="nav-link"><button class="btn btn-info btn-md">Login</button></a></li>
      </ul>
    </div>
  </nav>
</header>